@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap");

:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #005490;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --grey: #eee;
  --dark-grey: #222831;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #0d1b2a;
  position: relative;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  width: 100%;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-container {
  width: 60%;
  padding: 5em;
  background-color: #415a77;
}

.word {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  height: 3em;
  font-size: 1.5em;
  font-weight: 600;
  border: none;
  border-radius: 10px 0 10px 0;
  background-color: #e0e1dd;
  color: #0d1b2a;
}

.result {
  margin-top: 2em;
  text-align: center;
  font-size: 2em;
  font-weight: 600;
}

.animation {
  color: #e0e1dd;
  display: flex;
  justify-content: space-around;
  width: 100%;
  position: absolute;
  height: 100%;
  font-size: 4em;
  font-family: "Roboto Mono", monospace;
  z-index: -1;
}

.animation span {
  animation: slide linear 10s infinite;
}

.animation span:nth-child(odd) {
  animation-delay: 2s;
}

@keyframes slide {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(100%);
  }
}
